.product-images-slider {
    height: 400px;
}

.product-images-slider .swiper-slide img,
.product_image_thumb {
    height: 400px;
    object-fit: cover;
}

.product-images-slider .swiper-slide {
    padding-top: 100%;
    overflow: hidden;
    position: relative;
}

.product-images-slider .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.product-images-slider-thumbs-wrapper img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.product-images-slider .swiper-button-prev {
    left: 0;
    color: #000;
}

.product-images-slider .swiper-button-next {
    right: 0;
    color: #000;
}

.product-images-slider-thumbs {
    margin-top: 5px;
}

.product-images-slider-thumbs .swiper-slide {
    cursor: pointer;
    border: 1px solid #dddbdb;
}

.product-images-slider-thumbs .swiper-slide-thumb-active {
    border-color: #f00;
}

.product-images-slider-thumbs-wrapper {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    position: relative;
}

.product-images-slider-thumbs-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}