/**/
.rts-product-details-section2 .product-thumb-area .product-thumb-filter-group .thumb-filter img {
    height: 90px;
}

/* slider */
.product-images-slider {
    height: 400px;
}

.product-images-slider .swiper-slide img,
.product_image_thumb {
    height: 400px;
    object-fit: cover;
}

.product-images-slider .swiper-slide {
    padding-top: 100%;
    overflow: hidden;
    position: relative;
}

.product-images-slider .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.product-images-slider-thumbs-wrapper img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.product-images-slider .swiper-button-prev {
    left: 0;
    color: #000;
}

.product-images-slider .swiper-button-next {
    right: 0;
    color: #000;
}

.product-images-slider-thumbs {
    margin-top: 5px;
}

.product-images-slider-thumbs .swiper-slide {
    cursor: pointer;
    border: 1px solid #dddbdb;
}

.product-images-slider-thumbs .swiper-slide-thumb-active {
    border-color: #f00;
}

.product-images-slider-thumbs-wrapper {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    position: relative;
}

.product-images-slider-thumbs-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

/* slider end */
.profile-dp-area .profile_image_label {
    background: var(--theme-color);
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.account-profile-area .profile-dp img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.profile-dp-area .profile-dp,
.profile-dp-area .profile-dp img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.profile-dp-area .profile-dp img {
    border-radius: 10px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.c-pagination a {
    width: 50px;
    height: 50px;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 7px;
}

.c-pagination a:not(:disabled) {
    cursor: pointer;
}

.c-pagination .number a {
    color: #6c757d;
    text-transform: none;
    transition: all 500ms;
}

.c-pagination .number.active a,
.c-pagination a:hover {
    background: var(--theme-color);
    color: white;
}

.c-right {
    margin-right: 10px;
}

.danger-border {
    border: 1px solid var(--theme-color) !important;
}

.text-danger {
    color: var(--theme-color);
}


/* loader */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid var(--theme-color);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.c-price-filter-area {
    vertical-align: top;
    padding: 10px;
    border: 1px solid #ced4da;
    color: #777777;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    position: relative;
    background: transparent;
    width: 100px;
    margin-left: 15px;
}

/* .c-dropdown-li{
    display: flex;
    align-items: center;
} */
.nav__menu .has-dropdown ul {
    overflow: unset;
}

.nav__menu .has-dropdown ul.c-dropdown-ul.c-dropdown-second {
    display: none;
    position: absolute;
    /* right: -128px; */
    left: 200px;
    top: -3px;
    border-top: 3px solid #ee403d;
}

.nav__menu .has-dropdown ul.c-dropdown-ul.c-dropdown-second .dropdown-li .dropdown-link {
    color: #404040;
}

.nav__menu .has-dropdown ul.c-dropdown-ul.c-dropdown-second .c-dropdown-ul.c-dropdown-third .dropdown-li .dropdown-link {
    color: #404040;
}

.nav__menu .has-dropdown ul.c-dropdown-ul.c-dropdown-third {
    display: none;
    position: absolute;
    /* right: -128px; */
    left: 209px;
    top: -3px;
    border-top: 3px solid #ee403d;
}

.nav__menu .has-dropdown .dropdown-li:hover .c-dropdown-ul.c-dropdown-second {
    display: block;
}

.nav__menu .has-dropdown .c-dropdown-ul.c-dropdown-second .dropdown-li:hover .c-dropdown-ul.c-dropdown-third {
    display: block;
}

.nav__menu .has-dropdown ul.c-dropdown-ul.c-dropdown-second .dropdown-li:hover .dropdown-link {
    color: #ee403d;
}

.nav__menu .has-dropdown ul.c-dropdown-ul.c-dropdown-second .c-dropdown-ul.c-dropdown-third .dropdown-li:hover .dropdown-link {
    color: #ee403d;
}

/* .nav__menu .has-dropdown .dropdown-ul{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
} */

.c-search_brand {
    border-bottom: 1px solid #f2f2f2;
    padding: 10px;
}

.c-custom-address-btn {
    color: white;
    background: var(--theme-color);
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.c-custom-address-btn:hover {
    color: white;
    background: var(--dark-secondary);
}

.c-title-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.c-repayment-btn {
    color: white;
    background: var(--theme-color);
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 0.4s ease 0s;
}

.c-repayment-btn:hover {
    transition: all 0.4s ease 0s;
}

.c-repayment-btn:hover i {
    transform: translateX(5px);
}

.c-repayment-btn i {
    margin-right: 10px;
    transition: all 0.4s ease 0s;
}

.c-out-of-stock-home {
    text-align: center;
}

.c-out-of-stock-inner {
    width: 85px !important;
}

.c-blog-page-social-icone ul {
    justify-content: flex-end;
}

.c-blog-page-social-icone ul li {
    padding: 15px;
}

.c-blog-detail-main-image img {
    width: 100%;
}

.post-area .previous-post .post-img img,
.post-area .next-post .post-img img {
    width: 80px;
    height: 60px;
}

.c-privacy-policy p,
.c-terms-of-use p {
    padding: 15px 0px;
}

.c-privacy-policy ol li,
.c-terms-of-use ol li {
    list-style: circle;
    margin-left: 15px;
    color: #777777;
    padding: 15px 0px;
}

.c-language-select {
    background: transparent;
    position: relative;
    top: unset;
    left: unset;
    bottom: unset;
    right: unset;
    padding: 0;
    color: #777777;
    width: 85px;
    border: unset;
}

.c-language-select::before {
    content: "\f107";
    position: absolute;
    color: #777777;
    font-family: "Font Awesome 5 Pro";
    right: 0;
}

.c-language-select option:hover {
    background: #EE403D;
}

.c-product-inner-img img {
    height: 435px;
}

.c-combo-products.rts-top-listed-items .container .section-inner .wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 5px;
    margin: 45px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

.c-combo-products.rts-top-listed-items .container .section-inner .wraper .image-section img {
    height: 100px;
}

.c-combo-products.rts-top-listed-items .container .section-inner .wraper .content {
    padding-left: 15px;
    position: relative;
}

.c-combo-products.rts-top-listed-items .container .section-inner .wraper .content .product-title {
    margin-bottom: 5px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

/* .c-combo-products.rts-top-listed-items .container .section-inner .wraper::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    right: 100px;
    background: #dee2e6;
} */

.c-combo-products.rts-top-listed-items .container .section-inner .wraper .fa-plus {
    position: absolute;
    right: 50px;
    font-size: 20px;
    font-weight: bold;
}

/* .wraper.last::before {
    display: none;
} */



.c-combo-products.rts-top-listed-items .container .section-inner .wraper .content .product-price {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.rts-top-listed-items.c-combo-products .addto-cart-btn:hover {
    background: 0 0;
    color: var(--theme-color);
}

.rts-top-listed-items.c-combo-products .addto-cart-btn {
    margin-right: 20px;
    padding: 0 30px;
    background: var(--theme-color);
    color: #fff;
    font-weight: 700;
    border: none;
    border: 1px solid var(--theme-color);
    border-radius: 6px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    cursor: pointer;
}

.rts-top-listed-items.c-combo-products .c-total-price {
    margin-bottom: 1rem;
    padding: unset;
}

.rating .rating-icon span {
    position: relative;
}

.rating .rating-icon .c-rating-input {
    position: absolute;
    right: 2px;
    top: 5px;
    opacity: 0;
}


/* Media Query */
@media (max-width:500px) {
    .c-price-filter-area {
        margin-left: unset;
        margin-bottom: 10px;
        width: 200px;
    }
    .rts-hand-picked-products-section.section-gap .slider-div .product-item.element-item1 img{
        width: 100%;
    }
}