/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'rt-icons';
    src: url('../font/rt-icons.svg?57054479#rt-icons') format('svg');
  }
}
*/
[class^="rt-"]:before,
[class*=" rt-"]:before {
  font-family: "rt-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.rt-linkedin-in:before {
  content: '\e800';
}

/* '' */
.rt-location-dot:before {
  content: '\e801';
}

/* '' */
.rt-message:before {
  content: '\e802';
}

/* '' */
.rt-phone-flip:before {
  content: '\e803';
}

/* '' */
.rt-play:before {
  content: '\e804';
}

/* '' */
.rt-plus:before {
  content: '\e805';
}

/* '' */
.rt-quote-left:before {
  content: '\e806';
}

/* '' */
.rt-twitter:before {
  content: '\e807';
}

/* '' */
.rt-user:before {
  content: '\e808';
}

/* '' */
.rt-angle-down:before {
  content: '\e809';
}

/* '' */
.rt-angle-right:before {
  content: '\e80a';
}

/* '' */
.rt-angles-up:before {
  content: '\e80b';
}

/* '' */
.rt-arrow-left:before {
  content: '\e80c';
}

/* '' */
.rt-arrow-left-long:before {
  content: '\e80d';
}

/* '' */
.rt-arrow-right:before {
  content: '\e80e';
}

/* '' */
.rt-arrow-right-long:before {
  content: '\e80f';
}

/* '' */
.rt-book:before {
  content: '\e810';
}

/* '' */
.rt-calendar-days:before {
  content: '\e811';
}

/* '' */
.rt-check:before {
  content: '\e812';
}

/* '' */
.rt-chevrons-left:before {
  content: '\e813';
}

/* '' */
.rt-chevrons-right:before {
  content: '\e814';
}

/* '' */
.rt-comments:before {
  content: '\e815';
}

/* '' */
.rt-envelope:before {
  content: '\e816';
}

/* '' */
.rt-facebook-f:before {
  content: '\e817';
}

/* '' */
.rt-instagram:before {
  content: '\e818';
}

/* '' */
.rt-magnifying-glass:before {
  content: '\e819';
}

/* '' */
.rt-xmark:before {
  content: '\e81a';
}

/* '' */
.rt-thumbtack:before {
  content: '\e81b';
}

/* '' */
.rt-user-1:before {
  content: '\e81c';
}

/* '' */
.rt-heart:before {
  content: '\e81d';
}

/* '' */
.rt-cart-shopping:before {
  content: '\e81e';
}

/* '' */
.rt-star-sharp:before {
  content: '\e81f';
}

/* '' */
.rt-star-half:before {
  content: '\e820';
}

/* '' */
.rt-star:before {
  content: '\e821';
}

/* '' */
.rt-star-sharp-half:before {
  content: '\e822';
}

/* '' */
.rt-truck:before {
  content: '\e823';
}

/* '' */
.rt-basket-shopping:before {
  content: '\e824';
}

/* '' */
.rt-store:before {
  content: '\e825';
}

/* '' */
.rt-user-2:before {
  content: '\e826';
}

/* '' */
.rt-cart:before {
  content: '\e827';
}

/* '' */
.rt-search:before {
  content: '\e828';
}

/* '' */
.rt-heart-big:before {
  content: '\e829';
}

/* '' */